<img src="{{currentUser.avatar}}" class="w-100 rounded-circle mb-3" />

<p>
  {{currentUser.name}}<br>
  <a href="/{{currentUser.username}}">@{{currentUser.username}}</a>
</p>

<p>
  {{currentUser.bio}}
</p>

<form action="/logout" method="post">
  <button type="submit" class="btn btn-outline-secondary btn-sm">Logout</button>
</form>